* {
    margin: 0;
    padding: 0;
}

.grey {
    color: #6b6767;
}

.light-blue {
    color: #726bf8;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.border {
    border: 1px solid black;
}

.break {
    height: 10vh;
}

body::-webkit-scrollbar {
    visibility: hidden;
    overflow-x: scroll;
    overflow-y: hidden;
}